Payment.xcodeproj/project.xcworkspace/xcuserdata/kAlweheshy.xcuserdatad/UserInterfaceState.xcuserstate
Payment.xcodeproj/xcuserdata/kAlweheshy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Payment.xcodeproj/xcuserdata/kAlweheshy.xcuserdatad/xcschemes/xcschememanagement.plist
